/*General styles for the application*/
.App {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/*************Styles for the FilterSort component in charge of filtering and sorting*************/
.filterSort {
  background-color: rgb(173, 214, 60);
  width: 97vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Note to self: Add this property to align items at the top */
  justify-content: center;
}

.filterSort > span {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.filterSort p {
  margin-left: 10px;
}

.filterSort select {
  margin-top: 10px;
  width: 200px;
  height: 30px;
} 





/*************************Styles for the enlisted section*****************************************/
.Enlisted {
  background-color: rgb(173, 214, 60);
  width: 97vw;
  min-height: 47vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Note to self: Add this property to align items at the top */
}





/******************Styles for the BotList and the BotDetails Components**************************/
.BotList {
  width: 97vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  align-content: flex-start;
}


.card {
  display: inline-block;  /*Very important style that causes the cards to be rendered in line until there is no more space in line. */
  min-height: 450px;
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px solid lightgrey;
  border-radius: 8px;
  background-color: white;
  text-align: left;
} 


.card p {
  height: 100%;
  width: 100%;
  text-align: left; 
} 

.cardImage {
  background-color: lightgrey;
  margin: 0;
  border: 0;
}

.cardDetails {
  background-color: white;
  margin: 0;
  border: 0;
}

.cardDetails  p {
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 5px;
  width: 90%;
}


.specs {
  position: relative; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  margin: auto;
  text-align: center; /* Center align the text content */
  border-top: 1px solid lightgrey;
}

.specs img {
  display: inline-block; /* Set the display property of the image to inline-block */
  vertical-align: middle; /* Vertically center the image within its container */
}


.mainIcon {
  width:  20px;
  height: 20px;
  margin-left: 10px;
  
}


.healthIcon {
  width:  14px;
  height: 15px;
  margin-top: 0;
}


.healthIconRed {
  width: 25px;
  height: 25px;
  margin-top: 0;
}


.damageIcon {
  margin-left: 25px;
  width:  25px;
  height: 25px;
  margin-top: 0px;
}


.damageIconYellow {
  margin-left: 25px;
  width:  27px;
  height: 27px;
  margin-top: 0px;
}


.armorIcon {
  margin-left: 25px;
  width:  35px;
  height: 25px;
}

.armorIconBlue {
  margin-left: 25px;
  width:  35px;
  height: 30px;
}

.mainDefenderIcon{
  width:  35px;
} 


.catchphrase {
  max-width: 90%;
  word-wrap: normal; 
  word-break: break-all;
  line-height: 1.4;
}


.botDetailsCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

}

.botDetailsCard span{
  margin-right: 10px;
}

.botDetailsCard img{
  border-radius: 200px;
  border: 1px solid lightgrey;
}

.botDetailsCard button {
  width: 100%;
  height: 40px;
  margin-top: 2px;
  color: rgb(85, 84, 84);
  background-color: rgb(228, 226, 226);
  border: none;
  font-weight: 700;
}

.botDetailsCard button:hover {
  background-color: rgb(196, 196, 196);
  color: black;
  cursor: pointer;
}